#wp-admin-bar-boardcast .ab-item .ab-icon:before{
    content: "\f488" !important;
    color: #d54121;
}

#wp-admin-bar-boardcast #ab-pending-notifications {
    background: #ddd;
    color: #333;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 600;
    moz-border-radius: 10px;
    khtml-border-radius: 10px;
    webkit-border-radius: 10px;
    border-radius: 10px;
}

#wp-admin-bar-boardcast .ab-submenu .ab-item {

    width: 360px;
    height: auto !important;
    white-space: pre-wrap !important;
}

#wp-admin-bar-boardcast .ab-submenu .ab-item .ab-icon:before{
    /**content: "\f303" !important;*/
    /*content: "\f348" !important;*/
    content: "\f310" !important;
    color: #d54e21;
}

#wp-admin-bar-boardcast .ab-submenu .ab-item .ab-icon {

    /*height: 32px;*/
}

/**
 * styles for the tooltip.
 */
span.tip {
  position: absolute;
  display: block !important;
  width: 240px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  /*visibility: hidden;*/
  display:none;
  opacity: 0;
  border-radius: 6px;
  top: 500px;
  left: 500px;
  z-index: 900;
}

span.tip:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
